@import 'bootstrap';
@import '../Styles/Colors.scss';

.col-9 {
	padding-left: 5px;
	padding-right: 5px;
}

.col-3 {
	padding-left: 5px;
	padding-right: 5px;
}

.material-list {
	flex-grow: 1;
	padding: 2px;
	margin-top: 5px;

	overflow-y: auto;
	height: 100%;
	
	// border
	border-radius: 5px;
	border-color: $light-gray;
	border-width: 2px;
	border-style: solid;
}
::-webkit-scrollbar {
	display: none;
}

.material-item {
	@extend .btn;
	@extend .btn-light;

	width: 100%;
	margin-bottom: 5px;

	&:hover {
		$button-color: $light-blue;
		border-color: $button-color;
		@include button-variant(
			$button-color, 
			darken($button-color, 7.5%), 
			darken($button-color,  10%), 
			lighten($button-color,  5%), 
			lighten($button-color, 10%), 
			darken($button-color,  30%)
		);
		color: $dark-gray !important;
	}
}

.light-blue-btn {
	@extend .btn;

	$button-color: $light-blue;
	border-color: darken($button-color, 50%);
	@include button-variant(
		$button-color, 
		darken($button-color, 7.5%), 
		darken($button-color,  10%), 
		lighten($button-color,  5%), 
		lighten($button-color, 10%), 
		darken($button-color,  30%)
	);
	color: $dark-gray !important;
}

.full-width {
	width: 100%;
}

.properties-header {
	margin-right: 20px;
}

.no-material-alert {
	text-align: center;
	margin: auto;
	margin-top: 10px;
	width: 60%;
}

.material-editor-container {
	padding: 10px;
	padding-right: 20%;
}

.material-name {
	padding-bottom: 5px;
	border-bottom: 2px solid $dark-gray;
}