@import '../Styles/Colors';
@import '../../../node_modules/bootstrap/scss/bootstrap';

html, body, 
.container-fluid, .row, 
.col-3, .col-9, 
#app {
	height: 100%;
	max-height: 100%;
	min-height: 100%;
}

body {
	background-color: $dark-gray !important;
}

.app-container {
	height: 100%;
	width: 100%;

	display: flex;
	flex-direction: column;
}

.app-navbar {
	@extend .navbar;
	@extend .navbar-expand-sm;
	@extend .navbar;
	@extend .h6;

	background-color: $bright-green;
	margin: 0px;
	padding: 2px;
}

.navbar-brand {
	margin: 0px 16px 0px 16px;
}

.nav-item {
	:hover {
		cursor: pointer;
	}
	margin: 0px 5px 0px 5px;
}

.load-scene-button {
	@extend .btn;

	$button-color: $white;
	border-color: $button-color;
	@include button-variant(
		$button-color, 
		darken($button-color, 7.5%), 
		darken($button-color,  10%), 
		lighten($button-color,  5%), 
		lighten($button-color, 10%), 
		darken($button-color,  30%)
	);
	color: $dark-gray !important;

	padding: 5px;
	margin: 5px;

	float: right;
	:hover {
		cursor: pointer;
	}
}

.save-scene-button {
	@extend .btn;

	$button-color: $light-blue;
	border-color: $button-color;
	@include button-variant(
		$button-color, 
		darken($button-color, 7.5%), 
		darken($button-color,  10%), 
		lighten($button-color,  5%), 
		lighten($button-color, 10%), 
		darken($button-color,  30%)
	);
	color: $dark-gray !important;

	padding: 5px;
	margin: 5px;

	float: right;
	:hover {
		cursor: pointer;
	}
}

.editor-container {
	padding-top: 5px;
	padding-bottom: 15px;
	flex-direction: column;
	flex-grow: 1;
}