@import 'bootstrap';
@import '../Styles/Colors.scss';

.scene-object {
	margin-bottom: 5px;
	padding: 5px;

	background-color: $white;
}

.vertically-align {
	display: flex;
	align-items: center;
}

.scene-object-icon {
	height: 100%;
	$height: height;
	width: 36px;
}

.scene-object-name {
	margin-left: 5px;
}

.delete-button {
	@extend .btn;

	$button-color: $red;
	border-color: $button-color;
	@include button-variant(
		$button-color, 
		darken($button-color, 7.5%), 
		darken($button-color,  10%), 
		lighten($button-color,  5%), 
		lighten($button-color, 10%), 
		darken($button-color,  30%)
	);
	color: $dark-gray !important;

	padding: 5px;
	width: 36px;

	float: right;
	:hover {
		cursor: pointer;
	}

	.delete-icon {
		color: white;
	}
}