@import 'bootstrap';
@import '../Styles/Colors.scss';

.scene-editor {
	height: 100%;
	max-height: 100%;
}

.obj-list {
	overflow-y: scroll;
	height: auto;
	max-height: 70%;
	padding: 2px;
	
	border-radius: 5px;
	border-color: $light-gray;
	border-width: 2px;
	border-style: solid;
}
::-webkit-scrollbar {
	display: none;
}

.btn {
	margin: 5px 5px 5px 5px;
	min-width: 0;
}

#add-tri {
	width: 100%;
	border-color: $blue;
	@include button-variant(
		$blue, 
		darken($blue, 7.5%), 
		darken($blue,  10%), 
		lighten($blue,  5%), 
		lighten($blue, 10%), 
		darken($blue,  30%)
	);
	color: $dark-gray !important;
}

#add-cube {
	width: 100%;
	border-color: $bright-green;
	@include button-variant(
		$bright-green, 
		darken($bright-green, 7.5%), 
		darken($bright-green,  10%), 
		lighten($bright-green,  5%), 
		lighten($bright-green, 10%), 
		darken($bright-green,  30%)
	);
	color: $dark-gray !important;
}