@import '../Colors.scss';

.obj-list {
	overflow-y: scroll;
	max-height: 100%;
}
::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

#add-tri {
	width: 100%;
	color: $dark-gray;
	background-color: $bright-green;
	border-color: $bright-green;
}