.vector-editor {
    display: flex;
    flex-direction: row;
}

.vector-name {

}

.vector-values {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 60% !important;
    padding: 5px;
}

.vector-value {
    text-align: center;
}